<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todoay 비밀번호 찾기: 임시 비밀번호 발급</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div id="title_container">
    <h1>Todoay</h1>
</div>
<th:block th:unless="${exception}">
    <div id="message_container">
        <p>임시 비밀번호로 변경되었습니다.<br>
            <span th:text="${password}" style="color:red;"/></p>
    </div>
</th:block>
<th:block th:if="${exception}">
    <div id="message_title_container">
        <div id="status_container">
            <h3>인증에 실패하였습니다.</h3>
        </div>
    </div>
    <div id="error_message_container">
        <div id="message_context_container">
            <th:block th:switch="${exception}">
                <p th:case="ExpiredJwtException">
                    인증 시간이 만료되었습니다</br>
                    비밀번호 찾기를 다시 시도해주세요.
                </p>
            </th:block>
        </div>
    </div>
</th:block>
<div id="footer_container">
    <p>Copyright 2022. Todoay Co. all rights reserved.</p>
</div>
</body>
</html>